<!DOCTYPE html>
<html>
  <head>
    <title>display</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="./javascripts/videoapi.js"></script>
    <script type="javascript">
            setTimeout(function() { poll(), 10000});
        })();
    </script>

  </head>
  <body>
  <div id='display'></div>
  </body>
</html>
