<!DOCTYPE html>
<html>
  <head>
    <title>videos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>videos</h1>

    <% for(var i=0;i<videos.length;i++){ %>
      <button type="button"><%= videos.substring(videos.lastIndexOf('/')+1); %></button>
    <% } %>
  </body>
</html>
